<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Author>dave</Author>
      <Shortcut>pd</Shortcut>
      <Title>Prevent Default</Title>
    </Header>
    <Snippet>
      <Code Language="JavaScript"><![CDATA[e.preventDefault();]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
