<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Author>Dave</Author>
      <Shortcut>spin</Shortcut>
      <Title>spinner</Title>
    </Header>
    <Snippet>
      <Code Language="JavaScript"><![CDATA[$(self).append('<span id="submitSpinner">&nbsp;<i class="icon-spinner icon-spin "></i></span>');]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
